/* General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url("../Asset/image-en.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 30px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Quiz Page Styles */
.quiz-page h1 {
  font-size: 2em;
  margin-bottom: 50px;
}

.question {
  margin-bottom: 40px;
  text-align: left;
}

input[type="radio"] {
  margin-right: 10px;
  font-size: 20px;
  margin-top: 20px;
  transform: scale(1.3);
}

.ques {
  font-size: 20px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
label {
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.submit-button {
  padding: 10px 20px;
  font-size: 1.2em;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #0069d9;
}

/* Result Styles */
.result-overlay {
  display: none; /* Hidden by default */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 70%;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Ensure it's above other content */
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 30px;
}

.result {
  font-size: 1.5em;
}
