/* result-page.css */

body.result-page {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  text-align: center;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../Asset/background-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: blur(3px); /* Adjust the blur value as needed */
  z-index: -1;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px 80px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#result img {
  max-width: 100%;
  height: auto;
}

#result h2 {
  margin-bottom: 20px;
}

#result-text {
  margin-top: 20px;
  padding: 10px 15px;
  font-size: 3rem;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #000000;
  background: rgba(
    255,
    255,
    255,
    0.7
  ); /* Light background to enhance readability */
  border-radius: 5px;
  opacity: 0; /* Initially hidden */
  transform: translateY(20px); /* Start position below */
  transition: opacity 1s ease, transform 1s ease;
}

.animate-text #result-text {
  opacity: 1;
  transform: translateY(0); /* Move to original position */
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .container {
    max-width: 90%;
    padding: 15px;
    margin: 30px auto;
  }

  #result-text {
    font-size: 1.25rem; /* Adjust font size for tablets */
    padding: 8px 12px;
  }

  body.result-page {
    background-size: contain; /* Optimize background image for tablets */
  }
}

@media screen and (max-width: 480px) {
  .container {
    max-width: 95%;
    padding: 10px;
    margin: 20px auto;
  }

  #result-text {
    font-size: 1.3rem; /* Adjust font size for smaller screens */
    padding: 10px 5px;
    margin-top: 10px; /* Reduce margin on smaller screens */
  }

  body.result-page {
    background-size: contain; /* Optimize background image for smaller screens */
  }
}
